.home-top-tab {
  margin-top: calc(((100vh - 8vh) * 0.85 * 0.94) * 0.05);
  position: relative;
  z-index: 1;
  height: calc(((((100vh - 8vh)-20px) * 0.85) * 0.5) * 0.868 * 30 / 375);
  width: 100%;
  display: flex;
  padding-bottom: calc(((((100vh - 8vh)-20px) * 0.85) * 0.5) * 0.868 * 5 / 375);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}

.home-top-item {
  width: 33%;
  height: calc(((((100vh - 8vh)-20px) * 0.85) * 0.5) * 0.868 * 28 / 375);
  font-size: calc(((((100vh - 8vh)-20px) * 0.85) * 0.5) * 0.868 * 17 / 375);
  color: #363946;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: calc(((((100vh - 8vh)-20px) * 0.85) * 0.5) * 0.868 * 16 / 375);
}

@media (prefers-color-scheme: dark) {
  .home-top-item {
    color: #c1c1c1;
  }
  .home-top-tab {
    background-color: #1f1f1f;
  }
}

.home-top-line-outer {
  height: calc(((((100vh - 8vh)-20px) * 0.85) * 0.5) * 0.868 * 2 / 375);
  width: 33.33%;
  position: absolute;
  bottom: calc(((((100vh - 8vh)-20px) * 0.85) * 0.5) * 0.868 * 5 / 375);
  left: 33.33%;
  transition: All 0.5s;
}

.home-top-line {
  height: calc(((((100vh - 8vh)-20px) * 0.85) * 0.5) * 0.868 * 2 / 375);
  width: 28%;
  background: #40bc96;
  margin: auto;
  border-radius: calc(((((100vh - 8vh)-20px) * 0.85) * 0.5) * 0.868 * 1 / 375);
}
