.message-list {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-top: calc(((((100vh - 8vh)-20px) * 0.85) * 0.5) * 0.868 * (-10) / 375);
  padding: 0px 4% 20% 4%;
  /* padding: 50px 15px 0 15px; */
  overflow-x: hidden;
  overflow-y: scroll;
}

.loading-more {
  display: flex;
  justify-content: center;
  font-size: calc(((((100vh - 8vh)-20px) * 0.85) * 0.5) * 0.868 * 16 / 375);
}
