.navbar {
  height: 8vh;
  width: 100vw;
  background: rgb(68, 68, 68);
  /* internal */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(((((100vh - 8vh)-20px) * 0.85) * 0.5) * 0.868 * 20 / 375);
  box-sizing: border-box;
}
.navbar-brand {
  display: flex;
  align-items: center;
  color: #f6f6f6;
}

.navbar-brand h2 {
  font-size: calc(((((100vh - 8vh)-20px) * 0.85) * 0.5) * 0.868 * 30 / 375);
}

.navbar-brand img {
  width: 4vh;
  height: 4vh;
  margin-right: calc(((((100vh - 8vh)-20px) * 0.85) * 0.5) * 0.868 * 20 / 375);
}

@media (prefers-color-scheme: dark) {
  .navbar {
    background: #1f1f1f;
  }
  .navbar-brand {
    color: #d8d8d8;
  }
}
